
hr {
    margin-top: 50px;
    width: 90%;
    height: 2px;
    color: black;
}
div > h3{
    margin: 30px;
}
#hr2{
    width: 90%;
    height: 2px;
    color: rgb(0, 0, 0);
    margin-top: 150px;
}
.jumbotron{
    margin:20px;
}
.texto {
    margin-top:30px;
    margin-left: 15px;
    height: 70%;
    display: inline-block;
}


.nav-link {
    color: purple;
}

.carousel-inner {
    padding-top: 10px;
    margin: auto;
    width: 90%;
    height: 40%;
    position: center;
}
.col-sm-2{
    margin-top:90px ;
}
.carrossel {
    width: 50%;
    height: 40%;
    margin: auto;
}
#formulario{
    border: solid black 1px;
    border-radius: 5px;
    margin: 40px;
    padding: 15px;
}
#pesq{
    color: blanchedalmond;
}
.msg{
    display: none;
}
#contato{
    text-align: center;
    margin-top: 10px;
}
#empresa{
    text-align: center;
    margin-top: 10px;
}
#img{
    padding: 0;
    margin-bottom: 30px;
    right: 20px;
    
}
table{
    cursor: pointer;
    width: 90%;
    border: solid;
    margin-right: 5px;
}
footer{
    color: black;
    background-color: #999999;
    text-align: center;
}
